@media (max-width: 1050px) {
	.about {
		&__wrapper {
			flex-direction: column;
			padding: 2.5em 0;
		}
		&__text-col {
			margin-left: 106px;
		}
		&__img-col {
			width: 70%;
		}
	}
}
@media (max-width: 630px) {
	.about {
		&__text-col {
			text-align: center;
			margin-left: 0;
		}
		&__img-col {
			width: 100%;
		}
		&__text {
			margin: 0 0 10px;
			&::before {
				display: none;
			}
		}
		&__count {
			top: -23%;
			left: -6%;
		}
		&__link-wrapper {
			justify-content: center;
		}
	}
}
