@mixin container($width) {
	margin: 0 auto;
	padding: 0 15px;
	max-width: $width;
}
@mixin bg-img($url) {
	background-image: url($url);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
